# -*- coding: utf-8 -*-
"""
Created on Mon Aug  9 18:05:42 2021

@author: HP
"""

<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
<title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Billboard Top 100 Hits</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="danceability" placeholder="danceability" required="required" />
        <input type="text" name="energy" placeholder="energy" required="required" />
		<input type="text" name="loudness" placeholder="loudness" required="required" />
        <input type="text" name="loudness" placeholder="loudness" required="required" />

        <input type="text" name="speechiness" placeholder="speechiness" required="required" />

        <input type="text" name="acousticness" placeholder="acousticness" required="required" />

        <input type="text" name="liveness" placeholder="liveness" required="required" />

        <input type="text" name="valence" placeholder="valence" required="required" />
        <input type="text" name="tempo" placeholder="tempo" required="required" />

        <input type="text" name="genre" placeholder="genre" required="required" />



        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

<br>
   <br>
{{ prediction_text }}

 </div>


</body>
</html>